*{
  border: 0%;
  margin: 1%;
  padding: 0%;
  border-radius: 5%;
}



ul{
  max-width: 100%;
  list-style-type: none;
  margin-bottom: 5%;
  padding: 0;
  overflow: hidden;
  background-color: pink;

}
.MainCard{
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.FirstCard{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 15rem; 
  width: 25rem;
  }

  .SecondCard{
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    height: 15rem; 
    width: 25rem;
  }
/* img{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 25rem;
  height: 10rem;
  margin-top: auto;
  border-radius: 5%;
  justify-content: center;
}
 */

.Footer{
text-align: center;
}

















